<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h5>Cloud IAmarketings</h5>
        <p>Service de cloud professionnel pour entreprises</p>
      </div>
      <div class="col-lg-4">
        <h5>Liens Rapides</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Accueil</a></li>
          <li><a href="/contact" class="text-white">Contact</a></li>
          <li><a href="/login" class="text-white">Connexion</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5>Contact</h5>
        <p>Antananarivo 101, Madagascar<br>
        contact@iamarketings.fr<br>
        +261 32 51 932 31</p>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <p>&copy; 2024 Cloud IAmarketings. Tous droits réservés.</p>
    </div>
  </div>
</footer>